VITE_TMDB_API_KEY=b7c9b85608c9a8c0c23eddccb184fbeb
VITE_APPWRITE_PROJECT_ID=68937ea00039da67d9e8
VITE_APPWRITE_PROJECT_NAME=jsm_movie
VITE_APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
VITE_APPWRITE_DATABASE_ID=6894a91f00328af029d0
VITE_APPWRITE_COLLECTION_ID=6894a9f1000fd96dca7b
